<h1> MESSAGES </h1>


<div id="formContainer">
    <form id="chatForm">
        <input type="text" name="email" id="email" placeholder="Email">
        <textarea name="message" id="message" cols="20" rows="5" placeholder="Escriba aqui..."></textarea>
        <button type="submit" id="button">Enviar Mensaje</button>
    </form>
</div>




<script src="/static/js/chat.js"></script>