<h1>LOGIN</h1>

<form action="/api/sessions/login" method="post" style="margin-top: 24px ;">
    <input type="text" name="user" class="user" placeholder="Nombre de usuario..">
    <input type="password" name="pass" class="pass">
    <button type="submit"> Ingresar </button>
</form>

<form action="/products/register" method="get">
    <button type="submit">No tengo Usuario - Registrarme</button>
</form>