<div class="formContainer" id="formContainer">
    <form action="/api/messages/save" method="post" class="form" id="chatForm">
    <h1 class="title__message"> MESSAGES </h1>
        <input type="text" name="email" id="email" value="{{user.email}}">
        <textarea name="message" id="message" cols="20" rows="5" placeholder="Escriba aqui..."></textarea>
        <button type="submit" class="form__button" id="button">Enviar Mensaje</button>
    </form>
</div>