<h1> REGISTRATE </h1>


<form action="/api/sessions/register" method="post">
    <input type="email" name="user" class="email" placeholder="Escriba su Email aqui..">
    <input type="password" name="pass" class="pass">
    <button type="submit">Crear Usuario</button>
</form>