<h1 class="title_register"> REGISTRATE </h1>


<form action="/api/sessions/register" method="post" class="form_register" enctype="multipart/form-data">
    <label for="first_name" class="form_register_input">Nombre: </label>
    <input type="text" id="first_name" name="first_name" class="last_name" placeholder="Nombre">

    <label for="last_name" class="form_register_input">Apellido: </label>
    <input type="text" id="last_name" name="last_name" class="last_name" placeholder="Apellido">

    <label for="email" class="form_register_input">Email: </label>
    <input type="email" id="email" name="email" class="email" placeholder="tumail@ejemplo.com">

    <label for="age" class="form_register_input">Edad: </label>
    <input type="number" id="age" name="age" class="age" placeholder="18">

    <label for="password" class="form_register_input">Contraseña: </label>
    <input type="password" id="pass" name="pass" class="pass" placeholder="******">

    <label for="profileImage">Imagen de perfil</label>
    <input type="file" name="thumbnails">

    <button type="submit">Crear Usuario</button>
</form>