<form action="/api/sessions/restore" method="post">
    <input type="email" name="user" class="email" placeholder="Email...">
    <input type="password" name="pass" class="pass">
    <button type="submit">Restaurar Contraseña</button>
</form>