<h1 class="title_restore">Restaurar contraseña</h1>

<form class="form_restore" action="/api/sessions/restore" method="post">
    <input type="hidden" name="token" value="{{token}}">
    <input type="email" name="email" class="email" placeholder="Email...">
    <input type="password" name="pass" class="pass" placeholder="Nueva Contraseña">
    <button type="submit">Restaurar Contraseña</button>
</form>